<a href="https://colab.research.google.com/github/Aerold202011655/CPEN-21A-ECE-2-3/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 2:
  print("Five is greater than 2!")

Five is greater than 2!

In [ ]:
a, b, c=0,1,2
d = "Sally" #This is a type of string
s = "Mark" #This is a type of string
A = "Raymond" #This is a type of string
print(a)
print(b)
print(c)
print(d)
print(s)
print(A)

0
1
2
Sally
Mark
Raymond

In [ ]:
print(int(4))

4

In [ ]:
f = 56.789
print(type(f))

<class 'float'>

In [ ]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print (z)

one
two
three

In [ ]:
x = y = z = "four" #Multiple variable with single value
print(x)
print(y)
print(z)

four
four
four

In [ ]:
x = "Python is"
y = " ""enjoying"
z = x + y
print(z)

Python is enjoying

In [ ]:
k = 10
l = 5
print(k + l)

15

In [ ]:
k+=l #This is equal to k = k+l
print(k)

15

In [ ]:
k>l and l==l

True

In [ ]:
k<l or k==k

True

In [ ]:
not (k<l or k==k)

False

In [ ]:
k is l

False

In [ ]:
k%=5
k

0